.logo {
  &--size-l {
    max-width: 112px;
    height: 43px;
  }

  &--size-m {
    max-width: 86px;
    height: 33px;
  }

  &--size-s {
    max-width: 63px;
    height: 22px;
  }

  &__img {
    display: block;

    max-width: 100%;
    height: auto;
  }
}
