.text {
  &--size-l {
    font-size: 16px;
    line-height: 20px;
  }

  &--size-m {
    font-style: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 375px) {
  .text {
    color: #303030;

    &--size-l {
      font-size: 14px;
      line-height: 17px;
    }

    &--size-m {
      font-style: 13px;
      line-height: 16px;
    }
  }
}
