.chat-info {
  display: flex;
  align-items: center;

  &__avatar {
    display: none;

    min-width: 40px;
    max-width: 40px;
    margin-right: 12px;
  }

  &__name {
    margin-bottom: 7px;
  }

  &__status {
    color: #949494;
  }
}

@media (max-width: 800px) {
  .chat-info {
    &__avatar {
      display: block;
    }

    &__name {
      margin-bottom: 0;
      padding-top: 2px;
    }
  }
}
