.log-in {
  display: flex;
  flex-direction: column;

  max-width: 474px;

  &__auth-form {
    max-width: 354px;
  }

  &__auth-header {
    margin-bottom: 48px;
  }
}

@media (max-width: 1090px) {
  .log-in {
    &__auth-header {
      margin-bottom: 48px;
    }
  }
}
