@media screen and (max-width: 375px) {
  .title {
    &__h1 {
      font-size: 27px;
      font-weight: 800;
      line-height: 33px;
    }

    &__h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    &__h3 {
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
    }

    &__h4 {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }
  }
}

.title {
  &__h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 51px;

    &__h2 {
      font-size: 27px;
      font-weight: 700;
      line-height: 33px;
    }

    &__h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    &__h4 {
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
    }
  }
}
