.auth-header {
  &__logo {
    max-width: 112px;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__title--blue {
    color: #5e93e7;
  }

  &__title--light-blue {
    color: #b3cdf8;
  }
}

@media (max-width: 700px) {
  .auth-header {
    &__logo {
      max-width: 84px;
      margin-bottom: 16px;
    }

    &__title {
      margin-bottom: 9px;
    }
  }
}
