.login-form {
  &__title {
    margin-bottom: 24px;
  }

  &__title--blue {
    color: #5e93e7;
  }

  &__title--light-blue {
    color: #b3cdf8;
  }

  &__sub-title {
    margin-bottom: 48px;
  }

  &__submit-btn {
    margin-top: 16px;
  }

  &__field {
    margin-bottom: 32px;
  }
}
