.auth-form {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 354px;

  &__field {
    margin-bottom: 32px;
  }

  &__capcha-field {
    display: flex;
    align-items: flex-end;
  }

  &__controller {
    display: flex;

    margin-right: 12px;
  }

  &__buttons {
    display: flex;

    :first-child {
      margin-right: 12px;
    }
  }
}

@media (max-width: 1090px) {
  .auth-form {
    height: 100%;

    &__buttons {
      flex-wrap: wrap;

      :first-child {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
}
