.chat-header {
  display: flex;
  align-items: center;

  height: 10.7%;
  min-height: 66px;
  padding: 10px 24px;

  background-color: white;

  &__back-btn {
    display: none;

    width: 16px;
    height: 16px;
    margin-right: 24px;

    @media (max-width: 800px) {
      display: flex;
    }
  }
}
