.chat-header {
  display: flex;
  align-items: center;

  height: 96px;
  padding: 24px;

  background-color: white;

  &__back-btn {
    display: none;

    width: 16px;
    height: 16px;
    margin-right: 28px;
  }
}

@media (max-width: 800px) {
  .chat-header {
    height: 72px;
    padding: 16px 12px;

    &__back-btn {
      display: block;
    }
  }
}
