.authorization {
  display: flex;

  &__log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 490px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__background {
    width: 50%;
    min-height: 100vh;

    background-color: #eff5ff;
    background-image: url('../../../assets/svg/auth-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1090px) {
  .authorization {
    position: relative;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    &__log-in {
      position: absolute;
      top: 120px;
    }

    &__background {
      width: 100%;
      min-height: 375px;

      border-bottom-right-radius: 16 px;
      border-bottom-left-radius: 16 px;
    }
  }
}

@media (max-width: 520px) {
  .authorization {
    &__log-in {
      top: 200px;
    }
  }
}

@media (max-width: 375px) {
  .authorization {
    &__log-in {
      top: calc(170px);
    }
  }
}
