.chat-bottom {
  display: flex;
  align-items: center;

  height: 9.5%;
  min-height: 56px;
  max-height: 90px;
  padding: 10px 25px;

  background-color: white;

  &__file-input {
    width: 32px;
    height: 32px;
    margin-right: 37px;
  }

  &__message-button {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
